body {background-image: url(fotky/pozadi2.jpg);}

.main {width: 800px;
    text-align: justify;
    padding: 40px;
    font-size: 16px;
    font-family: 'Bree Serif', serif;
}

h1 {font-size: 60px;
text-align: center;}

a {color: black;
    text-decoration: none;}

.lecivky a, .home a, .toulky a, .recepty a {
 font-size: 25px;
 position: absolute;
}

.lecivky a:hover, .home a:hover, .toulky a:hover, .recepty a:hover {
    color: rgb(10, 78, 21);}


